
.DS_Store
.ipynb_checkpoints/ECOSAT3_Magnetometer-checkpoint.ipynb
.ipynb_checkpoints/ECOSAT3_Gravimeter-checkpoint.ipynb
in2018_v04_base_station.png
in2018_v04_igrf.png
in2018_v04_Magnetometer_Segments.png
.ipynb_checkpoints/underway_data_plots-checkpoint.ipynb
.ipynb_checkpoints/DredgeSiteProcessing-checkpoint.ipynb
.ipynb_checkpoints/DredgingTension-checkpoint.ipynb
